---
import { getConnect } from "../api/index.js";
let qrcodeData = await getConnect();
---

<style lang="less">
  .contact-container {
    width: 100%;
    scroll-margin-top: 60px;
    font-size: 1.4rem;
    .boxShadow();
    padding-bottom: 45px;
  }
  .container {
    max-width: 91%;
    margin: 0 auto;
  }

  h5 {
    color: @fontColor;
    font-size: 32px;
    font-weight: 600;
    padding: 50px 0 42px;
    @media screen and (max-width: 768px) {
      font-size: 2rem;
      padding: 2rem 0 2rem;
    }
  }

  .qrcode-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // gap: 30px;
    justify-content: center;
  }

  .qrcode-item {
    background: white;
    // border-radius: 12px;
    padding: 25px;
    text-align: center;
    // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    .border();
    @media screen and (max-width: 768px) {
      padding: 10px 0;
    }
  }

  .qrcode-item:hover {
    // transform: translateY(-5px);
    .boxLinear();
  }

  .qrcode-img {
    width: 95px;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 8px;
    object-fit: cover;
    @media screen and (max-width: 768px) {
      width: 5rem;
      margin: 0 auto 1rem;
    }
  }

  .contact-info {
    color: #34495e;
  }

  .contact-info h6 {
    margin-bottom: 12px;
    color: #2980b9;
    font-weight: 600;
    font-size: 16px;
    @media screen and (max-width: 768px) {
      margin-bottom: 2px;
      font-size: 1rem;
    }
  }

  .contact-info p {
    font-size: 0.95em;
    line-height: 1.6;
    color: #7f8c8d;
    @media screen and (max-width: 768px) {
      line-height: 0.8rem;
    }
  }

  @media (max-width: 768px) {
    .qrcode-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
</style>
<div class="contact-container" id="connect">
  <div class="container">
    <h5>联系我们</h5>
    <div class="qrcode-grid">
      {
        qrcodeData.qrcodeGrid.map((item: any) =>
          item.link ? (
            <a
              class="qrcode-item"
              style={{ cursor: "pointer" }}
              target="_blank"
              href={item.link}
            >
              <img
                loading="lazy"
                src={item.src}
                alt={item.alt}
                class="qrcode-img"
              />
              <div class="contact-info">
                <h6>{item.title}</h6>
                <p>{item.description}</p>
              </div>
            </a>
          ) : (
            <div class="qrcode-item">
              <img
                loading="lazy"
                src={item.src}
                alt={item.alt}
                class="qrcode-img"
              />
              <div class="contact-info">
                <h6>{item.title}</h6>
                <p>{item.description}</p>
              </div>
            </div>
          )
        )
      }
    </div>
  </div>
</div>
