---
import { getMeter } from "../api/index.js";
let contentData = await getMeter();
let { air9000, air9000P } = contentData;
import FadeIn from "./fadeIn.astro";
---

<style lang="less">
  #meter {
    width: 100%;
    scroll-margin-top: 50px;
    font-size: 1.4rem;
    .boxShadow();
    padding-bottom: 45px;
    .title {
      max-width: @maxwidth;
      margin: 0 auto;
      padding-left: 10px;

      h2 {
        font-size: 32px;
        font-weight: 600;
        padding-top: 50px;
        padding-bottom: 42px;
        @media screen and (max-width: 768px) {
          font-size: 2rem;
          padding: 2rem 0 2rem;
        }
      }
    }
    .content {
      max-width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      height: 100%;
      @media screen and (max-width: 768px) {
        max-width: 100%;
        flex-wrap: wrap;
      }
      .item {
        cursor: pointer;
        background-color: @whiteColor;
        width: 32%;
        .boxShadow();
        @media screen and (max-width: 768px) {
          width: 100%;
          box-shadow: none;
        }
        > div {
          padding: 20px 20px;
          @media screen and (max-width: 768px) {
            padding: 1rem 1rem;
          }
          .text1 {
            .title {
              font-size: 24px;
              text-align: center;
              @media screen and (max-width: 768px) {
                font-size: 1rem;
                margin: 5px 0;
              }
            }
            .text-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              .pic {
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 768px) {
                  width: 30%;
                }
                img {
                  width: 100%;
                }
              }
              .context {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                height: 100%;
                > div {
                  // flex: 1; /* 让它们占据相等的空间 */
                  display: flex;
                  flex-direction: column;
                  width: 48%;
                  .sm-title {
                    text-align: center;
                    font-size: 16px;
                    @media screen and (max-width: 768px) {
                      font-size: 1rem;
                    }
                  }
                  .tb {
                    height: 100%;
                  }
                  table {
                    height: 100%;
                    font-size: 12px;
                    @media screen and (max-width: 768px) {
                      font-size: 0.6rem;
                    }
                    table {
                      width: 100%;
                      border-collapse: collapse;
                    }

                    td {
                      padding: 2px;
                      text-align: left;
                      border: 2px solid #ddd;
                      &:nth-of-type(1) {
                        white-space: nowrap;
                      }
                    }
                  }
                }
              }
            }
          }
          .text3 {
            .title {
              font-size: 24px;
              text-align: center;
              @media screen and (max-width: 768px) {
                font-size: 1rem;
              }
            }
            .box {
              display: flex;
              flex-direction: column;
              justify-content: center;
              @media screen and (max-width: 768px) {
                margin-top: 5px;
                flex-direction: row;
                align-items: center;
              }
            }
            .context {
              padding-bottom: 27px;
              @media screen and (max-width: 768px) {
                padding-bottom: 1rem;
              }
              p {
                padding: 0 5px;
                @media screen and (max-width: 768px) {
                  font-size: 0.8rem;
                }
              }
            }
            .pic {
              width: 80%;
              margin: 0 auto;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
                @media screen and (max-width: 768px) {
                  width: 40%;
                }
              }
            }
          }
        }
        &:hover {
          .boxLinear();
        }
      }
    }
  }
</style>

<section id="meter">
  <FadeIn>
    <div class="title">
      <h2>功耗分析仪</h2>
    </div>
    <div class="content">
      <div class="item">
        <div>
          <div class="text1">
            <h3 class="title">{air9000.name}</h3>
            <div class="text-content">
              <div class="pic">
                <img
                  src="/images/carousel-Air9000P.png"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="context">
                <div class="left">
                  <div class="sm-title">{air9000.sections[0].title}</div>
                  <div class="tb">
                    <table>
                      <tbody>
                        {
                          air9000.sections[0].content.map((item: any) => (
                            <tr>
                              <td>{item.label}</td>
                              <td>{item.value}</td>
                            </tr>
                          ))
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="right">
                  <div class="sm-title">{air9000.sections[1].title}</div>
                  <div class="tb">
                    <table>
                      <tbody>
                        {
                          air9000.sections[1].content.map((item: any) => (
                            <tr>
                              <td>{item.label}</td>
                              <td>{item.value}</td>
                            </tr>
                          ))
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div>
          <div class="text3">
            <h3 class="title">可调稳压直流电源</h3>
            <div class="box">
              <div class="context">
                <p>可搭配Air9000使用，也可以独立使用</p>
                <p>超轻超小，单手可握，独立风扇，长时间工作无压力</p>
              </div>
              <div class="pic">
                <img src="/images/carousel-power.png" alt="" loading="lazy" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div>
          <div class="text1">
            <h3 class="title">{air9000P.name}</h3>
            <div class="text-content">
              <div class="pic">
                <img
                  src="/images/carousel-Air9000P.png"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="context">
                <div class="left">
                  <div class="sm-title">{air9000P.sections[0].title}</div>
                  <div class="tb">
                    <table>
                      <tbody>
                        {
                          air9000P.sections[0].content.map((item: any) => (
                            <tr>
                              <td>{item.label}</td>
                              <td>{item.value}</td>
                            </tr>
                          ))
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="right">
                  <div class="sm-title">{air9000P.sections[1].title}</div>
                  <div class="tb">
                    <table>
                      <tbody>
                        {
                          air9000P.sections[1].content.map((item: any) => (
                            <tr>
                              <td>{item.label}</td>
                              <td>{item.value}</td>
                            </tr>
                          ))
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </FadeIn>
</section>
